.post {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 10px silver;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
    padding: 2.5px;
    border-bottom: 1px solid silver;
    img {
        width: 25px;
        height: 25px;
    }
    a {
        color: black;
        transition: 0.5s;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        margin-left: 10px;
    }
    &:hover {
        a {
            color: gray;
            transition: 0.5s;
        }
    }
}