* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 10px;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid silver;
    span {
        font-size: 20px;
        cursor: pointer;
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        * {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 18px;
            color: black;
            cursor: pointer;
            &:hover {
                color: gray;
            }
        }
    }
}

.social-media-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.content {
    min-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}